/** @format */
:root {
  /*typography*/
  --font-size-body: calc(15 / 16 * 1rem);
  --font-size-extra: calc(13 / 16 * 1rem);
  --font-size-heading: calc(22 / 16 * 1rem);

  /*line heights*/
  --line-height-body: 1.4;
  --line-height-heading: 1.2;

  /*colors*/
  --slate-900: hsl(218deg 44% 22%);
  --slate-500: hsl(216deg 15% 48%);
  --slate-300: hsl(212deg 45% 89%);

  --blue: hsl(228deg 45% 44%);
  --white: hsl(0deg 0% 100%);

  /*spacing*/
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
}

* {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

body {
  background-color: var(--slate-300);
  color: var(--slate-900);
  font-size: var(--font-size-body);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  height: 100vh;
  line-height: var(--line-height-body);
}

main {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  max-height: calc(499 / 16 * 1rem);
  padding: var(--spacing-200);
  padding-block-end: var(--spacing-500);
  max-width: 320px;
}

.card img {
  display: block;
  border-radius: 10px;
  margin-block-end: var(--spacing-300);
  width: 288px;
}

.card .details {
  padding: 0 var(--spacing-200);
  text-align: center;
}

.details h1 {
  color: var(--slate-900);
  font-size: var(--font-size-heading);
  font-weight: 700;
  line-height: var(--line-height-heading);
  margin-block-end: var(--spacing-200);
}

.details p {
  color: var(--slate-500);
  letter-spacing: 0.2px;
}

footer {
  position: relative;
  bottom: 50px;
}

.attribution {
  font-size: var(--font-size-extra);
  text-align: center;
}

.attribution a,
.attribution a:visited {
  color: var(--blue);
}

.attribution a:hover,
.attribution:focus {
  color: var(--slate-500);
}
